<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="/"><%= image_tag 'Accounting-Calculator.jpg', class: "header-image" %></a>
  <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar">
    <ul class="nav navbar-nav">
      <div class="pull-xs-left">
        <li class="nav-item hidden-md-down nav-link">
          <%= link_to "Users", users_path %>
        </li>
      </div>
      <div class="pull-xs-right">
        <% if user_signed_in? %>
          <li class="nav-item hidden-md-down nav-link">
            <%= link_to current_user.email, edit_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-link") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</nav>
